
@media screen and (max-width:399.99px){
    .container{
        width: 100%;
    }

    /* =======================NAV======================= */
    .nav_wrapper{
        display: block;
        height: 80px;
    }

    .icon{
        display: block;
        padding-right: 10px;
        color: white;
    }

    .icon:hover{
        color:aqua
    }

    .logo{
        padding-top: 35px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        
    }

    .nav_menu ul{
        margin-top: 20px;
        display: block;
        padding-left: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }

   
    /* =======================BANNER======================= */

    #banner{
        padding: 180px 0 140px 0;
    }

    .text h2{
        font-size: 35px;
    }

    .text h3{
        font-size: 20px;
    }

    .text h4{
        font-size: 14px;
    }

    /* =================================Instagram=================== */
    #insta .insta_wrap .pic2{
        display: flex;
        flex-wrap: wrap;
        
        
    }
    #insta .insta_wrap .pic2 .insta_pic{
        width: 100%;
        padding-bottom: 15px;
        
    }

    .insta_wrap h2::before{
        width: 60px;
        right: -16%;
    }
    .insta_wrap h2::after{
        width: 60px;
        left:-16%;
    }

    /* =====================================JOURNAL=================================== */
    .journal_head h4::after{
        width: 60px;
        right: 58%;


    }
    .journal_head h4::before{
         width: 60px;
         left: 58%;
         
         
    }




    /* ============================ABOUT-ME=================== */
    .part1{
        padding-top: 0;
    }
    .part1 .img {
        display: none;
    }
    
    .about_txt{
        padding-bottom: 20px;
    }

    .flex-container{
        padding-left: 20px;
        width: 100%; 
        padding-bottom: 20px;
        padding-right: 10px;
    }
    .part2{
        width: 100%;
        padding-right: 10px;
    }

    .gt , .twitter, .pop_post, .aboutus{
        width: 100%;
        padding-top: 20px;
    }

}



@media screen and (min-width:400px) and (max-width:800px){
    .container{
        width: 100%;
    }

    /* =======================NAV======================= */
    .nav_wrapper{
        display: block;
        height: 80px;
    }

    .icon{
        display: block;
        padding-right: 10px;
        color: white;
    }

    .icon:hover{
        color:aqua
    }

    .logo{
        padding-top: 35px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        
    }

    .nav_menu ul{
        margin-top: 20px;
        display: block;
        padding-left: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }

   
    /* =======================BANNER======================= */

    #banner{
        padding: 180px 0 140px 0;
    }

    .text h4{
        font-size: 25px;
    }

    /* ============================Instagram=================== */
    #insta .insta_wrap .pic2{
        display: flex;
        flex-wrap: wrap;
        
    }
    #insta .insta_wrap .pic2 .insta_pic{
        width: 50%;
        
    }

    /* ============================ABOUT-ME=================== */
    
    .part1{
        padding-top: 0;
    }
    .part1 .img {
        display: none;
    }

    .about_txt{
        padding-bottom: 20px;
    }
    .flex-container{
        padding-left: 20px;
        width: 100%; 
        padding-bottom: 20px;
        padding-right: 10px;
    }
    .part2{
        width: 100%;
        padding-right: 10px;
    }

    /* ===================================footer / end===================== */
    
.gt , .twitter, .pop_post, .aboutus{
    width: 50%;
}

.pop_post, .aboutus{
    padding-top: 20px;
}

   }

@media screen and (min-width:801px) and (max-width:1169px)  {
    .container{
       width: 100%;
    }
    
    .container .nav_wrapper .logo{
        padding-left: 30px;
    }

    .container .nav_wrapper .nav_menu{
        padding-right: 30px;
        
        
    
   }
}



