


@media screen and (min-width:320px) and (max-width:800px){
    .container{
        width: 100%;
    }

    .nav_wrapper{
        display: block;
        height: 80px;
    }

    .icon{
        display: block;
        padding-right: 10px;
        color: white;
    }

    .icon:hover{
        color:aqua
    }

    .logo{
        padding-top: 35px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        
    }

    .nav_menu ul{
        margin-top: 20px;
        display: block;
        padding-left: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }

   
   }

@media screen and (min-width:800px) and (max-width:1169px)  {
    .container{
       width: 100%;
    }
    
    .container .nav_wrapper .logo{
        padding-left: 30px;
    }

    .container .nav_wrapper .nav_menu{
        padding-right: 30px;
        
        
    
   }
}



